<!doctype html>
<html>
<head>
    <title>About the creator!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/about.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="well well-lg text-center">
            <div>
                <h1>About the project</h1>

                <p>This communal blog is a project that I built to enhance collaboration and creativity. By combining all posts
                    into a single feed, I hope that people will communicate with each other in new and interesting ways!</p>

                <h1>About the creator</h1>

                <p>My name is Michael Dang and I'm in the Informatics major! I also currently do software development for Alaska Airlines.
                    In my free time, I like to program things, build computers, and play video games.</p>
            </div>

            <br>

            <div>
                <a href="http://students.washington.edu/mwldang/arch482/a2/cv.html" class="btn btn-default btn-lg">My resume</a>
                <a href="http://students.washington.edu/mwldang/arch482/a3/index.html" class="btn btn-default btn-lg">My portfolio</a>
            </div>

            <hr>

            <a href="/posts" class="btn btn-default btn-lg">
                <strong><span class="fa fa-arrow-circle-left"></span> Go back!</strong>
            </a>
        </div>
    </div>
</div>
</body>
</html>