<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Welcome to the Communal Blog!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="well well-lg text-center">
            <h1>Welcome to the Communal Blog</h1>

            <p>Login or register to start viewing and sharing!</p>

            <a href="/login" class="btn btn-default btn-lg"><span class="fa fa-sign-in"></span> Login</a>
            <a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-user-plus"></span> Signup</a>
        </div>
    </div>

    <% include ../partials/footer %>
</body>
</html>